{% extends "master.html" %}

  {% block title %}
  <h3>Detail of a student </h3>
  {% endblock %}

  {% block content %}
    {% for student in liste %}
      <div class="container">
      <h2>{{student.first_name}} {{student.last_name}}</h2>
      <ul>
        <li> {{student.birth_date}} </li>
        <li> {{student.phone}} </li>
        <li> {{student.email}} </li>
        <li> {{student.cursus}} </li>
        <li> <a href="/absence/{{student.cursus.id}}/{{student.id}}">{{absence}} absences </a></li>
      </ul>
      </div>
      <div class="container">
      <input 
            type="button" 
            value="Edit student" 
            onclick="location.href='{% url 'modifierEtudiant' student_id=student.id %}'"/>
      </div>
    {% endfor %}  
  {% endblock %}