<!DOCTYPE html>
<html>
    <head>
            <title>LF_projet</title>
            <meta charset="utf-8" />
    </head>

    <body>
        <div class="container">
            <header class="row">
                <div class="page-header">
                    <h3>{% block title %}{% endblock %}</h3>
                </div>
            </header>

            <article class="row">{% block content %}{% endblock %}</article>

            <footer class="navbar-fixed-bottom">
                <input 
                type="button" 
                class="btn btn-primary btn-lg btn-block" 
                style="margin-top: 10px" 
                value="lycee management" 
                onclick="location.href='{% url 'index' %}';"/>
            </footer>
        </div>
    </body>
</html>